<!DOCTYPE html>
<html>
    <head>
      <title>RAWR Toys</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
<body>
  <nav id="main">
    <div id="topLeft">
      <%= link_to 'Home', finder_path %>
      <%= link_to 'RAWR', about_path %>
    </div>
    <div id="bottomLeft">
      <%= link_to 'Carnivores', '#' %>
      <%= link_to 'Omnivores',  '#' %>
      <%= link_to 'Herbivores', '#' %>
    </div>
    <div id="logo">
       <h2>logo</h2>
    </div>
    <div id="cart">
       <h3>cart</h3>
    </div>
    <div id="search">
      <%= form_tag results_path do %>
          <%= label_tag "Search" %>
          <%= text_field_tag :keyword %>
          <%= submit_tag "Search" %>
      <% end %>
    </div>
  </nav>
<%= yield %>
<footer>

</footer>
</body>
</html>
